@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: ;
font-family: ; */
:root {
    --gray_1: #161513;
    --gray_2: #191919;
    --gray_3: #222222;
    --gray_4: #2A2A2A;
    --gray_5: #7d7d7d;
    --red_1: #EF1D12;
    --white: #ffffff;
    --black: #000000;
    /* ================ */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Bebas Neue', sans-serif;
    /* ================ */
    --top-bar-height: 100px;
    /* ================ */

}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--gray_1);
    color: var(--white);
}

body {
    font-family: var(--font-primary);
}

/* <RESET CSS========================== */
a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    cursor: default;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* RESET CSS>========================== */




/* <RESET BOOTSTRAP========================== */

/* RESET BOOTSTRAP>========================== */





/* ==================== */
.color-red_1 {
    color: var(--red_1);

}

.font-bebas_neue {
    font-family: var(--font-secondary);
}

/* ==================== */




/* <COMMON CSS================================================ */

/* .sec-title {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--gray_4);
    font-family: var(--font-secondary);
    font-size: clamp(75px, 25vw, 18.75rem);
    line-height: calc(100% - 50px);
    white-space: nowrap;
    z-index: 0;
}

.sec-txt {
    position: relative;
    text-align: center;
    color: var(--white);
    font-family: ;
    font-size: clamp(10px, 2vw, 1.25rem);
    letter-spacing: 0.5px;
    z-index: 1;
} */
.sec {
    position: relative;
    padding-bottom: 100px;
}

.sec-header {
    padding-top: 6rem;
    text-align: center;
    position: relative;
}

.sec-header .sec-title {
    white-space: nowrap;
    font-family: var(--font-secondary);
    font-size: clamp(100px, 25vw, 18.75rem);
    color: var(--gray_4);
    line-height: .65;
}

.sec-txt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    max-width: calc(100% - clamp(0px, 30vw, 31.5rem));

    font-family: var(--font-primary);
    font-size: clamp(10px, 2vw, 1.25rem);
    letter-spacing: 0.5px;
    color: var(--white);
}





/* COMMON CSS>================================================ */

/* <HEADER================================================ */

.top-bar {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: var(--top-bar-height);
    width: 100%;
    z-index: 999;
}

.top-bar .logo {
    display: block;
    padding: 20px 0px;
    width: 200px;
}

.top-bar .logo img {
    height: auto;
    display: block;
    width: 100%;
}

/* .top-bar .logo-name {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}

.top-bar .logo-title {
    color: var(--red_1);
    font-size: 18px;
} */

.top-bar .nav-bar .header-otw a {
    font-family: var(--font-secondary);
    font-size: 25px;
    line-height: 30px;
    color: var(--red_1);
    cursor: pointer;
    margin-top: 6px;
}

.top-bar .nav-bar .menu-toggler {
    position: relative;
}

.top-bar .menu-toggler a.main-nav-toggle {
    --line-thickness: 3px;
    display: block;
    width: 25px;
    height: 15px;
}

.top-bar .menu-toggler a.main-nav-toggle:after,
.top-bar .menu-toggler a.main-nav-toggle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    border-bottom: var(--line-thickness) solid var(--white);
    width: 100%;
    transition: all ease-out 0.3s;
}

.top-bar .menu-toggler a.main-nav-toggle:after {
    top: 100%;
}

.top-bar .menu-toggler a.main-nav-toggle i {
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: calc(var(--line-thickness) - 1px);
    background-color: var(--white);
    width: 100%;
    transition: all ease-out 0.1s;
}

.top-bar .menu-toggler a.main-nav-toggle.active-menu:after {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 50%;
}

.top-bar .menu-toggler a.main-nav-toggle.active-menu:before {
    transform: rotate(45deg);
    transform-origin: center;
    top: 50%;
}

.top-bar .menu-toggler a.main-nav-toggle.active-menu i {
    opacity: 0;
}

.top-bar .menu-toggler a.main-nav-toggle:hover:after,
.top-bar .menu-toggler a.main-nav-toggle:hover:before,
.top-bar .menu-toggler a.main-nav-toggle:hover i {
    background-color: var(--red_1);
    border-color: var(--red_1);
}


/* HEADER>================================================ */

/* <HERO SECTION================================================ */
.hero-sec {
    position: relative;
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
    text-align: center;
    height: calc(100% - var(--top-bar-height));
    overflow: hidden;
    padding-top: var(--top-bar-height);
}

.hero-sec .bg-img {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: clamp(350px, 72vw, 70rem);
    aspect-ratio: 1 / 1;
    z-index: 0;
    opacity: .5;
    filter: drop-shadow(0px 0px 20px var(--gray_1));
    -webkit-animation: rotating 40s linear infinite;
    -moz-animation: rotating 40s linear infinite;
    -ms-animation: rotating 40s linear infinite;
    -o-animation: rotating 40s linear infinite;
    animation: rotating 40s linear infinite;
}

.hero-sec .bg-img>img {
    width: 100%;
}

.hero-sec .hero-heading {
    font-size: clamp(25px, 4vw, 3.1rem);
    letter-spacing: clamp(0px, 0.4vw, 3px);
    margin-top: 3rem;
    margin-bottom: 15px;

    position: relative;
    z-index: 1;
}

.hero-sec .hero-content-txt {
    font-size: clamp(30px, 4.29vw, 5rem);
    line-height: 1;
    
    position: relative;
    z-index: 1;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


/* HERO SECTION>================================================ */


/* <PROJECTS SECTION================================================ */
body.project-page .projects-sec {
    padding-bottom: 5rem;
}

body.project-page .projects-sec .sec-header {
    padding-top: 6rem;
}

/* PROJECTS SECTION>================================================ */

/* <ABOUT SECTION================================================ */
.about-sec {
    background-color: var(--gray_3);
    padding-bottom: 50px;
}

.about-sec .sec-header {
    height: clamp(450px, 85vh, calc(40rem));
}

.about-sec .sec-title {
    color: var(--gray_1);
    position: relative;
    z-index: 1;
    padding-top: 80px;
}

.about-sec .sec-txt {
    z-index: 3;
    top: 50%;
    height: fit-content;
    height: -moz-fit-content;
}

.story-tree-wrapper {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    z-index: 2;
}

.story-tree-wrapper .story-tree {
    position: relative;
    z-index: 1;
}

.story-tree-wrapper .story-tree::after {
    content: "";
    position: absolute;
    top: calc(100% - 8px);
    left: calc(50% + 10px);
    transform: translateX(-50%);
    height: 10px;
    width: 40px;
    background-color: var(--gray_3);
}

.story-tree-wrapper .story-tree svg {
    width: 100%;
    filter: drop-shadow(rgba(255, 255, 255, 30%) 0px -1px 1px) drop-shadow(rgba(255, 255, 255, 30%) 0px 2px 1px);
    transition: filter .2s ease-in-out;
}

.story-tree-wrapper .ja-story-tree-btn {
    margin-left: 10px;
    margin-top: -8px;
    border-radius: 555px;
    background-color: var(--gray_3);
    transition: filter .2s ease-in-out;
    filter: drop-shadow(rgba(255, 255, 255, 30%) 0px -1px 1px) drop-shadow(rgba(255, 255, 255, 30%) 0px 2px 1px);
}

/* ABOUT SECTION>================================================ */

/* <SKILLS SECTION================================================ */
.skills-sec .sec-header {
    padding-top: 7rem;
}

.marquee {
    --marquee-item-gap: 3rem;
    --marquee-slider-speed: 25s;

    width: 100%;
    display: flex;
    overflow: hidden;
    gap: var(--marquee-item-gap);
}

.marquee .marquee-slider {
    min-width: 100%;
    flex: none;
    justify-content: space-around;
    display: flex;
}

.marquee .marquee-content {
    position: relative;
    color: var(--gray_1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 7.5rem;
    display: flex;
    gap: var(--marquee-item-gap);
}

.marquee .marquee-content .marquee-item {
    position: relative;
    transition: color .3s ease-in-out;
    line-height: 6.5rem;
}

.marquee .marquee-content .marquee-item:hover {
    color: var(--white);
}

.marquee .marquee-content .marquee-item::after {
    content: "-";
    position: absolute;
    top: 50%;
    left: calc(100% + calc(var(--marquee-item-gap) / 2));
    transform: translate(-50%, -50%);
    color: var(--gray_1);
}

.marquee.img-marquee {
    margin-bottom: 13px;
}

.marquee.img-marquee,
.marquee.img-marquee .marquee-content {
    gap: .5rem;
}

.marquee.img-marquee .marquee-content {
    flex-direction: row-reverse;
}

.marquee.img-marquee .marquee-content .marquee-item::after {
    content: "";
    display: none;
}

.marquee.img-marquee .img-wrapper {
    position: relative;
    background-color: var(--white);
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.marquee.img-marquee .clr-img,
.marquee.img-marquee .bw-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee.img-marquee .clr-img>img,
.marquee.img-marquee .bw-img>img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.marquee.img-marquee .clr-img {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out;
}

.marquee.img-marquee .marquee-item:hover .clr-img {
    opacity: 1;
    visibility: visible;
}

.marquee .scroll {
    animation: scroll var(--marquee-slider-speed) linear infinite;
}

.marquee.img-marquee .img-scroll {
    animation: img-scroll var(--marquee-slider-speed) linear infinite;
}

.marquee .scroll.slider-3 {
    animation: scroll calc(var(--marquee-slider-speed) - 7s) linear infinite;
}

.marquee .reverse {
    animation-direction: reverse !important;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--marquee-item-gap)));
    }
}

@keyframes img-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - .5rem));
    }
}

/* SKILLS SECTION>================================================ */

/* <CONTACT SECTION================================================ */
.contact-sec {
    padding-bottom: 7rem;
}

.contact-sec .sec-header {
    padding-top: 7rem;
}

.contact-sec .sec-header .sec-title {
    white-space: wrap;
}

/* CONTACT SECTION>================================================ */

/* <FOOTER================================================ */
.footer {
    font-family: var(--font-secondary);
    border-top: 2px solid var(--gray_4);
}

.footer .contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.5rem;
}

.footer .contact-links li>a {
    line-height: 1.5rem;
    transition: color .2s ease-in-out;
}

.footer .contact-links li>a:hover {
    color: var(--red_1);
}


/* FOOTER>================================================ */



/* <COMPONENTS================================================ */

/* 
<content-underline-effect
 */
.content-underline-effect {
    display: inline-block;
    height: 100%;
    position: relative;
}

.content-underline-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--red_1);
    transition: width 0.25s ease-out;
}

.content-underline-effect:hover::before {
    width: 100%;
}

/* 
content-underline-effect>
 */


/* 
<ja-btn
 */
.ja-btn {
    --ja-btn-width: 230px;
    --ja-btn-height: 55px;

    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;

    height: var(--ja-btn-height);
    width: 100%;
    max-width: clamp(150px, 30vw, var(--ja-btn-width));
    min-width: 150px;

    border-radius: 555px;

    font-family: var(--font-secondary);
    font-size: clamp(16px, 3vw, 1.5rem);
    line-height: clamp(16px, 3vw, 1.5rem);
    letter-spacing: 1.3px;
    text-transform: uppercase;

}

.ja-btn .ja-btn-title {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ja-btn-primary {
    color: var(--gray_1);
    border: 2px solid var(--gray_1);
    background-color: var(--white);
}

.ja-btn-outline-primary {
    color: var(--white);
    border: 2px solid var(--white);
    background-color: var(--gray_1);
}

.ja-btn-primary .ja-btn-bg-shape,
.ja-btn-outline-primary .ja-btn-bg-shape {
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: var(--red_1);
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all .3s ease-in-out;
}

.ja-btn-primary:hover,
.ja-btn-outline-primary:hover {
    color: var(--white);
    border: 2px solid var(--red_1);
}

.ja-btn-primary:hover .ja-btn-bg-shape,
.ja-btn-outline-primary:hover .ja-btn-bg-shape {
    width: 225%;
    height: calc(var(--ja-btn-width) * 2.25);
}

.ja-btn-primary:active,
.ja-btn-outline-primary:active {
    background-color: var(--white);
}

/* 
ja-btn>
 */


/* 
 <ja-display-card
  */
.ja-display-card {
    width: clamp(300px, 24vw, 22.1rem);
    aspect-ratio: 7 / 11;
    margin-top: 3rem;
}

.ja-display-card .ja-card-img-bx {
    /* width: 350px;
        height: 550px; */

    width: 100%;
    height: 34.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 8px;
    border: 3px solid var(--gray_1);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
    transition: border-color .2s ease-in-out;
}

.ja-display-card .ja-card-img-bx .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1;
    color: var(--red_1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.ja-display-card .ja-card-img-bx .overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    gap: .8rem;
}

.ja-display-card .ja-card-img-bx .overlay li>a {
    height: 60px;
    width: 60px;
    border: 3px solid var(--red_1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
}

.ja-display-card .ja-card-img-bx .overlay li>a:hover {
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
}

.ja-display-card .ja-card-img-bx .overlay li>a i {
    line-height: 12px;
    font-size: 32px;
    transition: all .2s ease-in-out;
}

.ja-display-card .ja-card-img-bx .overlay li>a>img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    transition: all .2s ease-in-out;
}

.ja-display-card .ja-card-img-bx .overlay li>a:hover i,
.ja-display-card .ja-card-img-bx .overlay li>a:hover img {
    filter: drop-shadow(rgba(68, 68, 68, 0.5) 0px 1px 3px);
}

.ja-display-card:hover .ja-card-img-bx {
    border-color: var(--red_1);
}

.ja-display-card .ja-card-img-bx:hover .overlay {
    opacity: 1;
    user-select: auto;
    pointer-events: all;
}

.ja-display-card .ja-card-img-bx>img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    z-index: 0;
    transition: width .2s ease-in-out;
}

.ja-display-card:hover .ja-card-img-bx>img {
    width: 105%;
}

.ja-display-card .ja-card-desc {
    display: none;
}

.ja-display-card .ja-card-txt-bx .ja-card-title {
    white-space: wrap;
}

.ja-display-card .ja-card-txt-bx {
    text-transform: capitalize;
}


/* 
 <ja-display-card
  */

/* COMPONENTS>================================================ */


/* <MEDIA QUERIES================================================ */
@media (max-width: 1440px) {

    .projects-sec .sec-header .sec-title {
        font-size: clamp(100px, 30vw, 18.75rem);
    }

    .about-sec .sec-header .sec-title {
        font-size: clamp(100px, 22vw, 18.75rem);
    }
}

@media (max-width: 1280px) {
    .about-sec .sec-header .sec-title {
        white-space: wrap;
        line-height: .8;
    }

    .about-sec .sec-header .sec-txt {
        top: 50%;
    }
}

@media (max-width: 1024px) {
    :root {
        --top-bar-height: 70px;
    }

    .top-bar .logo-name {
        font-size: 18px;
        line-height: 18px;
    }

    .top-bar .logo-title {
        font-size: 12px;
    }

    .top-bar .nav-bar .header-otw a {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 767px) {
    .hero-sec {
        height: calc(100% - var(--top-bar-height) - clamp(5rem, 15vh, 7rem));
    }

    .about-sec .sec-header .sec-title {
        font-size: clamp(100px, 31vw, 18.75rem);
    }

    .about-sec .story-tree-wrapper {
        z-index: 0;
    }

    .ja-btn {
        --ja-btn-height: 40px;
    }


}

@media (max-width: 480px) {
    .hero-sec .hero-content-txt {
        line-height: 1.2;
    }

    .skills-sec .sec-header {
        padding-top: 6rem;
    }

    .sec-txt {
        max-width: clamp(250px, 85vw, 22.1rem);
        line-height: 1.35;
    }

    .ja-display-card {
        width: clamp(250px, 85vw, 22.1rem);
        text-align: center;
    }

}

@media (min-width: 767px){
    .hero-sec .hero-content-txt {
        width: 60vw;
    }
}



/* MEDIA QUERIES>================================================ */
